<!DOCTYPE html>
<html>
    <head>
        
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../media/mycss.css">
		<title>Patside E-valimised/hääekinnitus</title>
		
    </head>
	<body>
               
		    <div id="division1">
            
				<ul class id="menu">
                    
					<li><a href="http://patsid.cs.ut.ee/" class="button">Avaleht</a></li>
					<li><a href="http://patsid.cs.ut.ee/index.php/site/kandidaadid" class="button">Kandidaadid</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/site/tulemused" class="button">Tulemused</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/site/statistika" class="button">Statistika</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/site/login" class="button">Logi sisse</a></li>
				
				</ul>
               
            </div>
            <h1>Kinnitus</h1>
            
            <p> kandidaat <br> Kinnita nupp </p>
			
		
    </body>
	
</html>