<html>
    <head>
        
		<meta charset="UTF-8">
		<title>Patside E-valimised</title>
		
    </head>
	<body>
       
		<div id="division">
             <h1>E-valimiste leht<h1/>
            <img src="eesti.jpg" alt="LogoMissingBljat" style="width:300px;height:200px">
            
				<ul class id="menu">
                    
					<a href="http://patsid.cs.ut.ee/" class="button"><li>Avaleht</li></a>
					<a href="http://patsid.cs.ut.ee/index.php/site/kandidaadid" class="button"><li>Kandidaadid</li></a>
					<a href="http://patsid.cs.ut.ee/index.php/site/tulemused" class="button"><li>Tulemused</li></a>
					<a href="http://patsid.cs.ut.ee/index.php/site/statistika" class="button"><li>Statistika</li></a>
                    <a href="http://patsid.cs.ut.ee/index.php/site/login" class="button"><li>Logi sisse</li></a>
				
				</ul>
                
			<div id="sisu">
                
				<p>E-valimised toimuvad 23-28 veebruar. Veebirakendus ise valmib aprillis.                       <br>Vabandame ebameeldivuste pärast. Kaebused esitada aadressile ei_koti@gmail.com</p>
                <p>Kandideerimiseks/hääletamiseks tuleb eelnevalt sisse logida.</p>
			
			</div>
			
		</div>
    </body>
	
</html>