<!DOCTYPE html>
<html>
      <head>
        
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../media/mycss.css">
		<title>Patside E-valimised/kandidaadid</title>
		
    </head>
    <body>
        		<div id="lairiba">
                    <h1>Kandidaadid</h1>
                    <ul class id="menu">
                    
					<li><a href="http://patsid.cs.ut.ee/" class="button">Avaleht</a></li>
					<li><a href="http://patsid.cs.ut.ee/index.php/dir/kandidaadid" class="button">Kandidaadid</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/dir/tulemused" class="button">Tulemused</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/dir/statistika" class="button">Statistika</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/dir/login" class="button">Logi sisse</a></li>
				
				</ul>
        <div id="Tabel">
    <table style="width:100%">
  <tr>
    <th>Eesnimi</th>
    <th>Perenimi</th>		
    <th>Piirkond</th>
    <th>valimisnumber</th>
    <th>Erakond</th>
      
  </tr>
  <tr>
    <td>Snoop</td>
    <td>Dog</td>		
    <td>Tartumaa</td>
    <td>420</td>
  </tr>
  <tr>
    <td>Anti</td>
    <td>Kristo</td>		
    <td>Pärnumaa</td>
    <td>1337</td>
  </tr>
  <tr>
    <td>Dildomar</td>
    <td>Türas</td>		
    <td>Jõgevamaa</td>
    <td>5318008</td>
  </tr>
</table>
            </div>
                    </div>
    </body>
    
</html>