<!DOCTYPE html>
<html manifest="site.manifest">
      <head>
        
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../media/mycss.css">
		<title>Patside E-valimised</title>
		
    </head>
    <body>
        		<div id="divisionk">
                    <h1>Statisika</h1>
                    <ul class id="menu">
                    
					<li><a href="http://patsid.cs.ut.ee/" class="button">Avaleht</a></li>
					<li><a href="http://patsid.cs.ut.ee/index.php/site/kandidaadid" class="button">Kandidaadid</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/site/tulemused" class="button">Tulemused</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/site/statistika" class="button">Statistika</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/site/login" class="button">Logi sisse</a></li>
				
				</ul>
 <p>Siia tuleb statistika</p>

                    </div>
    </body>
    
</html>