<!DOCTYPE html>
<html>
    <head>
        
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../media/mycss.css">
		<title>Patside E-valimised/tegumikinnitus</title>
		
    </head>
	<body>
               
		    <div id="division1">
            
				<ul class id="menu">
                    
					<li><a href="http://patsid.cs.ut.ee/" class="button">Avaleht</a></li>
					<li><a href="http://patsid.cs.ut.ee/index.php/dir/kandidaadid" class="button">Kandidaadid</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/dir/tulemused" class="button">Tulemused</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/dir/statistika" class="button">Statistika</a></li>
                    <li><a href="http://patsid.cs.ut.ee/index.php/dir/login" class="button">Logi sisse</a></li>
				
				</ul>
               
            </div>
            <h1>TEGUM EDUKALT SOORITATUD</h1>
			
		
    </body>
	
</html>